<div class="product-list">
    <div *ngFor="let product of products" class="product-link">
        <div class="product-card">
            <img src="../../../assets/{{product.image}}" alt=" {{ product.name }}"
                (click)="navigateToProductDetails($event, product.id)" class="product-image">
            <div class="product-details">
                <span class="category">{{ product.category }}</span>
                <h2 class="name">{{ product.name }}</h2>
                <div class="quantity">qty:{{ product.quantity }}</div>
                <div class="price">{{ product.price | currency: 'INR'}}</div>
                <button *ngIf="productCount[product.id] === undefined || productCount[product.id] === 0"
                    (click)="addToCart(product)" class="add-button">Add</button>
                <div *ngIf="productCount[product.id] !== undefined && productCount[product.id] !== 0"
                    class="cart-counter">
                    <button (click)="decrementCount(product)">-</button>
                    <span>{{ productCount[product.id] }}</span>
                    <button (click)="incrementCount(product)">+</button>
                </div>
            </div>
        </div>
    </div>
</div>