<div class="back">
    <a routerLink="/products-list" class="back-icon">
        <img src="../../../../assets/back.png" alt="Back Icon">
    </a>
</div>
<div *ngIf="product" class="product-details-container">
    <div class="product-image">
        <img src="{{product.imageUrl}}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <div class="product-category">{{ product.brandName }}</div>
        <h1 class="product-name">{{ product.name }}</h1>
        <div class="product-quantity">
            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <mat-select [(ngModel)]="selectedQuantities[product.id]"
                    (selectionChange)="onSelectionChange($event, product)">
                    @for (qty of product.quantity; track qty) {
                    <mat-option [value]="qty">{{qty}} {{product.unitType === 'kg' ? 'Kg' : 'L'}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="product-price">Price: {{ product.price | currency: 'INR' }}</div>
        <div class="add">
            <button *ngIf="productCount[product.id] === undefined || productCount[product.id] === 0"
                (click)="addToCart(product)" class="add-button">Add</button>
            <div *ngIf="productCount[product.id] !== undefined && productCount[product.id] !== 0" class="cart-counter">
                <button (click)="decrementCount(product)">-</button>
                <span>{{ productCount[product.id] }}</span>
                <button (click)="incrementCount(product)">+</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!product" class="no-products">
    <h2>No Products</h2>
</div>